@font-face{
    font-family: 'n1';
    font-display: swap;
    src: url('../font/n1.ttf') format("truetype");
}
@font-face{
    font-family: 'HarmonyOS_Sans';
    font-display: swap;
    src: url('../font/HarmonyOS_Sans_SC_Regular.ttf') format("truetype");
}
